/* app css stylesheet */
.buttonMusicContainer {
  position: absolute;
  width: 132px;
  height: 56px;
}
.buttonMusicContainerRight {
  left: 828px;
}
.buttonMusicBackground {
  fill: rgb(230, 132, 35);
}
.buttonMusicText {
  position: absolute;
  text-align: center;
  top:50%;
  transform: translate(0, -50%);
  width: 132px;
  font-family:'Arvo',sherif;
  font-size:14px;
  color:white;
}
.buttonMusicContainerRight .buttonText{
  text-align: center;
}

.buttonContainer {
  position:absolute;
  height: 54px;
  width: 54px;
}
.buttonContainer svg {
  position:absolute;
  width:54px;
  height:54px;
}
.buttonContainer2{
  top:70px;
}
.buttonContainer3{
  top:140px;
}
.triangle {
  position:absolute;
}
.buttonsContainer {
  position: absolute;
  height:194px;
  width:54px;
}
.triangle1 {
    border-top: 10px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 13px solid white;
    left:25px;
    top:16px;
}
.triangle2 {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid white;
    left:13px;
    top:17px;
}
.triangle3 {
  border-right: 10.5px solid transparent;
  border-left: 10px solid transparent;
  border-top: 16px solid white;
  left:16px;
  top:22px;
}

.allTracks{
  display: flex;
  flex-direction: column;
}
.track {
  display: flex;
  position: relative;
}
.track .clip{
  position: absolute;
}

/**
*
* i've included things that I expect will NOT change in the CSS
* (the other style things in the HTML are explained there)
*
*/
.partsContainer {
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 290px;
  background-color:pink;
}
.partsContainer .part{
  height: 290px;
}
.part .title{
  position: relative;
  font-family:'Arvo',sherif;
  font-size:28px;
  color:#778899;
}
.clipsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clipsContainer .clip {
  display: inline;
}
.clip text {
  font-family: 'Arvo', serif
}