/* app css stylesheet */
/*rectangle with name and name of creation */
.container  {
  position:absolute;
  top:10px;
  left: 0px;
  height: 20px;
  width: 960px;
}
.rectangleContainer {
  position: absolute;
  top: 0px;
  width: 170px;
  height: 20px;
}
.rectangleBackground {
  fill: rgb(230, 132, 35);
}
.rectangleContainerLeft {
  left: 40px;
}
.rectangleContainerRight {
  left: 680px;
}
.rectangleText {
  position: absolute;
  text-align: center;
  top:50%;
  transform: translate(0, -50%);
  width: 170px;
  font-family:'Arvo',sherif;
  font-size:12px;
  color: white;
}
}
.rectangleContainerRight .rectangleText{
  text-align: center;
}

/* Button and Slogan */
.textAndButtonOrangesContainer {
  position:absolute;
  height: 100px;
  width: 960px;
  text-align:center;
}
.textAndButtonOrangesContainer .text {
  position:absolute;
  line-height: 1.6;
  width:696px;
  left:132px;
  top:5px;
  font-family:'Arvo',sherif;
  font-size:18px;
  color:rgb(62, 107, 145);
}
.buttonOrangeContainer {
  position: absolute;
  top:50px;
  width: 132px;
  height: 56px;
}
.buttonOrangeContainer1 {
  left: 0px;
}
.buttonOrangeContainer2 {
  left: 828px;
}
.buttonOrangeBackground {
  fill: rgb(230, 132, 35);
}
.buttonOrangeText {
  position: absolute;
  text-align: center;
  top:50%;
  transform: translate(0, -50%);
  width: 132px;
  font-family:'Arvo',sherif;
  font-size:14px;
  color:white;
}
.buttonOrangeContainerRight .buttonOrangeText{
  text-align: center;
}

/* Button round Play and Stop */
.buttonsContainer {
  position: absolute;
  height:194px;
  width:54px;
}
.buttonContainer {
  position:absolute;
  height: 54px;
  width: 54px;
}
.buttonContainer svg {
  position:absolute;
  width:54px;
  height:54px;
}
.buttonContainer1{
  top:0px;
}
.buttonContainer2{
  top:70px;
}
.buttonContainer3{
  top:140px;
}
.triangle {
  position:absolute;
}
.triangle1 {
    border-top: 10px solid transparent;
    border-bottom: 11px solid transparent;
    border-left: 13px solid white;
    left:25px;
    top:16px;
}
.triangle2 {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 15px solid white;
    left:13px;
    top:17px;
}
.triangle3 {
  border-right: 10.5px solid transparent;
  border-left: 10px solid transparent;
  border-top: 16px solid white;
  left:16px;
  top:22px;
}

/* Tracks and clip */
.allTracks{
  display: flex;
  flex-direction: column;
}
.track {
  display: flex;
  position: relative;
}
.track .clip{
  position: absolute;
}

/**
*
* i've included things that I expect will NOT change in the CSS
* (the other style things in the HTML are explained there)
*
*/
/* Parts and clip */
.partsContainer {
  display: flex;
  justify-content: space-between;
  width: 960px;
  height: 290px;
  background-color:pink;
}
.partsContainer .part{
  height: 290px;
}
.part .title{
  position: relative;
  font-family:'Arvo',sherif;
  font-size:28px;
  color:#778899;
}
.clipsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clipsContainer .clip {
  display: inline;
}
.clip text {
  font-family: 'Arvo', serif
}

/* Scroll and Title Music */
.scrollContainer{
  position:absolute;
  height: 60px;
  width: 910px;
}
.visualizationHelper {
  background-color:grey;
}
.triangle {
  position:absolute;
}
.scrollContainer .triangle1 {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-right: 24px solid rgb(62, 107, 145);
  left:26px;
  top:14px;
}
.scrollContainer .triangle2 {
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 24px solid rgb(62, 107, 145);
  left:860px;
  top:14px;
}
.scrollTextContainer{
  height: 60px;
  width: 770px;
  left: 70px;
  position: absolute;
  text-align:center;
}
.scrollContainer svg {
  position:absolute;
}
.scrollText {
  line-height:60px;
  font-family:'Arvo',sherif;
  font-weight:bold;
  font-size:30px;
  color:rgb(62, 107, 145);
}