<body ng-app ng-controller='compositionCtrl'>
  <!--AREA Page-->
  <div class="areaContainer">
    <!--RECTANGLE BUTTON with name and noma creation from the participant-->
    <div class="container">
      <div class="rectangleContainer rectangleContainerLeft">
        <span class="rectangleText">{{text1}}</span>
        <svg width="170" height="25">
          <rect rx="6" ry="6" width="170" height="25" class="rectangleBackground"></rect>
        </svg>
      </div>
      <div class="rectangleContainer rectangleContainerRight">
        <span class="rectangleText">{{text2}}</span>
        <svg width="170" height="25">
          <rect rx="6" ry="6" width="170" height="25" class="rectangleBackground"></rect>
        </svg>
      </div>
    </div>
    <!--BUTTON Music list and SLOGAN-->
    <div class="textAndButtonOrangesContainer">
      <span class="text" ng-bind-html="sloganText"></span>
      <div class="buttonOrangeContainer buttonOrangeContainer1">
        <span class="buttonOrangeText" ng-bind-html="buttonOrangeText1"></span>
        <svg width="132" height="56">
          <path class="buttonOrangeBackground"
            d="M0,0 h112 a20,20 0 0 1 20,20 v16 a20,20 0 0 1 -20,20 h-112 , v-16 ,20 0 0 1 20,-20 z" />
        </svg>
      </div>
      <div class="buttonOrangeContainer buttonOrangeContainer2">
        <span class="buttonOrangeText" ng-bind-html="buttonOrangeText2"></span>
        <svg width="132" height="56">
          <path class="buttonOrangeBackground"
            d="M20,00 h112 a0,0 0 0 1 0,20 v16 a0,0 0 0 1 -0,20 h-112 a20,20 0 0 1 -20,-20 v-16 a20,20 0 0 1 20,-20 z">
          </path>
        </svg>
      </div>
    </div>
    <!--AREA CONTAIN BUTTON AND TRACKS/CLIPS-->
    <div class="areaButtonsAndTracksContainer">
      <svg width="935" height="247">
        <rect rx="12" ry="12" width="935" height="247" style="fill:rgb(123, 102, 168)"></rect>
      </svg>
      <!-- BUTTONS PLAY AND STOP -->
      <div class="buttonsContainer">
        <div class="buttonContainer1">
          <svg width="54" height="54">
            <circle cx="27" cy="27" r="27" fill="red"></circle>
            <rect x="19" y="16" width="4" height="21" fill="white"></rect>
          </svg>
          <div class="triangle triangle1"></div>
        </div>
        <div class="buttonContainer buttonContainer2">
          <svg>
            <circle cx="27" cy="27" r="27" fill="red"></circle>
            <rect x="30" y="16.5" width="4" height="21" fill="white"></rect>
          </svg>
          <div class="triangle triangle2"></div>
        </div>
        <div class="buttonContainer buttonContainer3">
          <svg>
            <circle cx="27" cy="27" r="27" fill="red"></circle>
            <rect x="16" y="16" width="21" height="4" fill="white"></rect>
          </svg>
          <div class="triangle triangle3"></div>
        </div>
      </div>
      <!--RECTANGLE FOR TRACKS-->
      <div class="areaTracksContainer">
        <svg height="218" width="836">
          <rect height="218" width="836">
          </rect>
        </svg>
        <!--TRACKS-->
        <div class="allTracks">
          <div class=" track" ng-repeat="track in tracks">
            <svg ng-attr-width="{{trackWidth}}" ng-attr-height="{{trackHeight}}">
              <rect ng-attr-width="{{trackWidth}}" style="fill:{{track.color}}" ng-attr-height="{{trackHeight}}">
              </rect>
              <circle ng-repeat="point in pointPositions" ng-attr-cx="{{point}}" cy="0" r="1" fill="white"></circle>
            </svg>
            <!-- CLIPS in the tracks -->
            <div class="clip" ng-repeat="clip in track.clips">
              <svg ng-attr-width="{{trackWidth}}" ng-attr-height="{{trackHeight}}">
                <rect style="fill:{{clip.color}}" ng-attr-x="{{clip.position}}" y="0" ng-attr-width="{{clip.width}}"
                  ng-attr-height="{{trackHeight}}"></rect>
                <circle cx="40" cy="25" r="7" fill="grey"></circle>
                <text x="34" y="28" font-size="9" fill="white">{{clip.tag}}</text>
              </svg>
            </div>
          </div>
        </div>
        <!--line and circle-->
        <div class="circleAndLine">
          <svg width="20" height="220">
            <circle cx="10" cy="10" r="10" fill="red"></circle>
            <line class="h_line" x1="10" y1="20" x2="10" y2="220" style="stroke:black;stroke-width:1"></line>
          </svg>
        </div>
      </div>
    </div>
  </div>
  <!--SCROLL to choose other compositions + TITLE and triangle-->
  <div class="scrollContainer">
    <span class="text2" ng-bind-html="scrollText"></span>
    <!--triangle LEFT AND RIGT -->
    <div class="triangle triangle1"></div>
    <div class="triangle triangle2"></div>
  </div>
  <!-- PARTS container (music material)-->
  <div class="partsContainer">
    <div class="part" style="background-color:{{part.color}};" ng-repeat="part in parts">
      <!-- the text -->
      <span class="title" class="ng-binding">{{part.name.text}}</span>
      <!-- max-width should come from the same field as the width above -->
      <div class="clipsContainer">
        <!-- the width is a property of the clip -->
        <!-- it will later be calculated based on the duration -->
        <!-- for now you can take pixels -->
        <div class="clip" ng-repeat="clip in part.clips">
          <svg width="50" height="35">
            <!-- the width can be from the exact same object / field as above-->
            <!-- the height will be the track height -->
            <!-- the color will come from the data -->
            <rect class="clip" style="fill:{{clip.color}}"></rect>
            <!-- the following for text and the circle                  -->
            <!-- for the position you have to make some calculation     -->
            <!-- based on some formula like "always some number smaller -->
            <!-- than the clip height, always some number smaller than  -->
            <!-- the clip width, etc                                    -->
            <circle cx="40" cy="25" r="7" fill="grey"></circle>
            <text x="34" y="28" font-size="9" fill="white">{{clip.tag}}</text>
          </svg>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>